<nz-card style="width:100%;" nzTitle="Gestion des utilisateurs (vendeuse et livreurs)">
  
    <div *ngIf="etapeDisplay != 3" nz-row style="text-align: center;">
        <div nz-col nzSpan="12" style="text-align: right;">
            <button class="btn btn-primary" (click)="etapeDisplay = 1;getUsers()" style="margin-left: 5px;">Liste des utilisateurs</button>
        </div>
        <div nz-col nzSpan="12" style="text-align: left;">
            <button class="btn btn-info" (click)="etapeDisplay = 2" style="margin-left: 5px;">Création d'utilisateur</button>
        </div>
    </div>
    <div *ngIf="etapeDisplay == 1" >
        <div class="col-12" style="max-width: 100% !important">
            <ngx-table [configuration]="configuration"
                    [data]="data"
                    [columns]="columns"
                    style="overflow:auto"
                    style="max-width: 100% !important">
            </ngx-table>
        </div>
       
    </div>
    
    <div *ngIf="etapeDisplay == 2" >
        
        <div *ngIf="errorCode == 1" class="alert alert-danger">{{errorMessage}} <span style="float: right; cursor: pointer;" (click)="errorCode = 0">x</span></div>
        <div *ngIf="errorCode == 2" class="alert alert-success">{{errorMessage}} <span style="float: right; cursor: pointer;" (click)="errorCode = 0">x</span></div>

        <form >
            <div nz-row >
                <div nz-col nzSpan="11" style="text-align: center;margin-top: 1rem;">
                    <label for="exampleInputEmail1">Type d'utilisateur</label>
                    <select style="height: 35px;" type="text" [ngModelOptions]="{standalone: true}" class="form-control" [(ngModel)]="typeUser" id="prenom" aria-describedby="emailHelp" placeholder="Identifiant">
                        <option value="">Choisissez le type d'utilisateur</option>
                        <option value="vendeuse">Vendeuse</option>
                        <option value="livreur">Livreur</option>
                    </select>
                </div>
                <div nz-col nzSpan="11" style="text-align: center;margin-top: 1rem;">
                    <label for="exampleInputEmail1">Identifiant</label>
                    <input type="text" [ngModelOptions]="{standalone: true}" class="form-control" [(ngModel)]="identifiant" id="prenom" aria-describedby="emailHelp" placeholder="Identifiant">
                </div>
                <div nz-col nzSpan="11" style="margin-top: 1rem;">
                    <label for="exampleInputEmail1">Prénom</label>
                    <input type="text" [ngModelOptions]="{standalone: true}" class="form-control" [(ngModel)]="prenom" id="prenom" aria-describedby="emailHelp" placeholder="Prénom">
                </div>
                <div nz-col nzSpan="11" style="margin-top: 1rem;margin-left: 5px;" >
                    <label for="exampleInputEmail1">Nom</label>
                    <input type="text" [ngModelOptions]="{standalone: true}" class="form-control" [(ngModel)]="nom" id="nom" aria-describedby="emailHelp" placeholder="Nom">
                </div>

                <div nz-col nzSpan="11" style="margin-top: 1rem;">
                    <label for="exampleInputEmail1">Téléphone</label>
                    <input type="text" (keyup)="badPhoneNumber = false" [ngModelOptions]="{standalone: true}" class="form-control" [(ngModel)]="telephone" id="prenom" aria-describedby="emailHelp" placeholder="Téléphone">
                    <p *ngIf="badPhoneNumber" class="alert alert-danger">Numéro téléphone non conforme </p>
                </div>
                <div nz-col nzSpan="11" style="margin-top: 1rem;margin-left: 5px;" >
                    <label for="exampleInputEmail1">Addresse</label>
                    <input type="text" [ngModelOptions]="{standalone: true}" class="form-control" [(ngModel)]="adresse" id="nom" aria-describedby="emailHelp" placeholder="Addresse">
                </div>

                
              
            </div>
            <div nz-col nzSpan="24" style="text-align: center;margin-top: 1rem;">
                <button [disabled]="!prenom || !nom || !telephone || !adresse || !identifiant || !typeUser " (click)="createUser()" class="btn btn-success">Valider</button>
            </div>
        
        </form>
    </div>
    <div *ngIf="etapeDisplay == 3">
        
        <div *ngIf="errorCode == 1" class="alert alert-danger">{{errorMessage}} <span style="float: right; cursor: pointer;" (click)="errorCode = 0">x</span></div>
        <div *ngIf="errorCode == 2" class="alert alert-success">{{errorMessage}} <span style="float: right; cursor: pointer;" (click)="errorCode = 0">x</span></div>
        <form >
            <div nz-row *ngIf="errorCode < 2">
                <div nz-col nzSpan="11" style="margin-top: 1rem;">
                    <label for="exampleInputEmail1">Prénom</label>
                    <input type="text" [ngModelOptions]="{standalone: true}" class="form-control" [(ngModel)]="selected.prenom" id="prenom" aria-describedby="emailHelp" placeholder="Prénom">
                </div>
                <div nz-col nzSpan="11" style="margin-top: 1rem;margin-left: 5px;" >
                    <label for="exampleInputEmail1">Nom</label>
                    <input type="text" [ngModelOptions]="{standalone: true}" class="form-control" [(ngModel)]="selected.nom" id="nom" aria-describedby="emailHelp" placeholder="Nom">
                </div>

                <div nz-col nzSpan="11" style="margin-top: 1rem;">
                    <label for="exampleInputEmail1">Téléphone</label>
                    <input type="text" (keyup)="badPhoneNumber = false" [ngModelOptions]="{standalone: true}" class="form-control" [(ngModel)]="selected.telephone" id="prenom" aria-describedby="emailHelp" placeholder="Téléphone">
                    <p *ngIf="badPhoneNumber" class="alert alert-danger">Numéro téléphone non conforme </p>
                </div>
                <div nz-col nzSpan="11" style="margin-top: 1rem;margin-left: 5px;" >
                    <label for="exampleInputEmail1">Addresse</label>
                    <input type="text" [ngModelOptions]="{standalone: true}" class="form-control" [(ngModel)]="selected.adresse" id="nom" aria-describedby="emailHelp" placeholder="Addresse">
                </div>

              
            </div>
            <div nz-col nzSpan="24" style="text-align: center;margin-top: 1rem;">
                <button  (click)="etapeDisplay = 1" style="margin-right: 5px;" class="btn btn-danger">Retour</button>
                <button  (click)="updateUser()" *ngIf="errorCode < 2" class="btn btn-success">Valider</button>
            </div>
        
        </form>
    </div>
  </nz-card>
<ng-template let-row let-rowIndex="rowIndex" let-column="column" #actionTpl>
    <td>
        <button class="btn btn-warning" nz-button (click)="selected = row;errorCode = 0;etapeDisplay = 3" style="margin: 2px;">Modifier </button>
        <button class="btn btn-danger" nz-button (click)="deleteUser(row);"  >Supprimer </button>
    </td>
</ng-template> 


<div *ngIf="loading">
    <div style="position: absolute ; left: 15%; top:25%; min-width: 100rem ; min-height: 40rem ;text-align: -webkit-center; padding-top: 10%; z-index:1000; background-color: white; opacity: 0.4;">
    <div class="loader">
        <div class="ball-pulse">
        <div></div>
        <div></div>
        <div></div>
        </div>
    </div>  
    </div>
  </div>
  