<nz-card style="width:100%;padding: 0;" nzTitle="Dashbord des commandes" >
    <div style="background: #ECECEC;padding:10px;">

        <div nz-row >
          <div nz-col [nzSpan]="8" >
            <nz-card nzTitle="Nbr de commande">
              <span>{{nbrCommandes}} </span><small>commandes </small>
            </nz-card>
          </div>
          <div nz-col [nzSpan]="8" >
            <nz-card nzTitle="Solde graine d'or">
              <span>{{soldeGraineDor}} </span><small>FCFA</small>
            </nz-card>
          </div>
          <div nz-col [nzSpan]="8" >
            <nz-card nzTitle="Solde compense  BBS">
              <span>{{soldeCompenseBBS}} </span><small>FCFA</small>
            </nz-card>
          </div>
        </div>
      </div>
    <div>
        <div style="background: #ECECEC;padding:10px;">
            <div nz-row [nzGutter]="8">
              <div nz-col [nzSpan]="8">
                <label for="exampleInputEmail1">Date début</label>
                <input type="date" [ngModelOptions]="{standalone: true}" class="form-control" [(ngModel)]="dd" id="dateD" aria-describedby="emailHelp" placeholder="Prénom">
              </div>
              <div nz-col [nzSpan]="8">
                <label for="exampleInputEmail1">Date fin</label>
                <input type="date" [ngModelOptions]="{standalone: true}" class="form-control" [(ngModel)]="df" id="dateF" aria-describedby="emailHelp" placeholder="Prénom">
              </div>
              <div nz-col [nzSpan]="8">
                <button class="btn btn-success" (click)="recherche()" style="margin-top: 3rem;" >Recherche</button>
                
              </div>
            </div>
          </div>
        <div class="col-12" style="max-width: 100% !important;padding: 0;">
            <ngx-table [configuration]="configuration"
                    [data]="data"
                    [columns]="columns"
                    style="overflow:auto"
                    style="max-width: 100% !important"
                    class="table-responsive">
            </ngx-table>
        </div>
       
    </div>
 
  </nz-card>

<ng-template let-row let-rowIndex="rowIndex" let-column="column" #panier>
  <div class="dropdown">
    <span *ngIf="row.refCommande != ''">{{row.refCommande}}</span>
    <span *ngIf="row.refCommande == ''">refCommande</span>
    <div class="dropdown-content">
    <p style="color: black;">{{row.designation}}</p>
    </div>
  </div>
</ng-template>
<ng-template let-row let-rowIndex="rowIndex" let-column="column" #actionTpl>
  <button type="button" *ngIf="row.etat==1" class="btn btn-warning" (click)="cancelCommande(row)">Annuler </button>
</ng-template>
<ng-template let-row let-rowIndex="rowIndex" let-column="column" #paiementTpl>
    <p *ngIf="row.mode_paiement==1" >en ligne </p>
    <p *ngIf="row.mode_paiement==0" >à la livraison </p>
</ng-template>
<ng-template let-row let-rowIndex="rowIndex" let-column="column" #recuperationTpl>
    <p *ngIf="row.recuperation==1" >sur place </p>
    <p *ngIf="row.recuperation==0" >à livrer</p>
</ng-template>


<ng-template let-row let-rowIndex="rowIndex" let-column="column" #etatTpl>
  <p *ngIf="row.etat==-1">Annuler </p>
  <p *ngIf="row.etat==1">Enregistrer </p>
  <p *ngIf="row.etat==2">Valider </p>
  <p *ngIf="row.etat==3">Preparer</p>
  <p *ngIf="row.etat==4">En cour de livraison</p> 
  <p *ngIf="row.etat==5">Payer</p> 
</ng-template>
<ng-template let-row let-rowIndex="rowIndex" let-column="column" #livreur>
  <td>
    <p *ngIf="row.livreur != ''">{{displayData(row.livreur,'prenom')}} {{displayData(row.livreur,'nom')}}</p>
    <p *ngIf="row.livreur == ''">pas de livreur</p>
  </td>
</ng-template>
<ng-template let-row let-rowIndex="rowIndex" let-column="column" #monnaiePrepa>
  <td>
    {{monnairePrpa(row.montant,row.frais_livraison)}}
  </td>
</ng-template>

<div *ngIf="loading">
  <div style="position: absolute ; left: 15%; top:25%; min-width: 100rem ; min-height: 40rem ;text-align: -webkit-center; padding-top: 10%; z-index:1000; background-color: white; opacity: 0.4;">
  <div class="loader">
      <div class="ball-pulse">
      <div></div>
      <div></div>
      <div></div>
      </div>
  </div>  
  </div>
</div>
