<nz-card style="width:100%;background: #C5A57D;margin-top: 1.2rem;" nzTitle="" >
    <div class="col-12" style="background: #C5A57D;padding:10px;">

        <div class="row" style="background-color: #C5A57D;" >
         
          <div class="col-lg-4 col-sm-4 col-md-4 col-xs-6"  >
            <div style="background-color: #C5A57D;color: white;text-align: center;">
              <h2>Nombre de commande</h2>
            </div>
            <div style="background-color: white;color: #532611;text-align: center;height: 5rem;border-radius: 10px;">
              <h4 style="padding-top: 1rem ;"> <span >{{nbrCommandes}} </span><small>commandes </small>
              </h4>
            </div>
          </div>
          <div class="col-lg-4 col-sm-4 col-md-4 col-xs-6"  >
            <div style="background-color: #C5A57D;color: white;text-align: center;">
              <h2>Solde Graine d'or</h2>
            </div>
            <div style="background-color: white;color: #532611;text-align: center;height: 5rem;border-radius: 10px;">
              <h4 style="padding-top: 1rem ;"><span >{{currencyFormat(soldeGraineDor)}} </span><small>FCFA</small></h4>
            </div>
          </div>
          <div class="col-lg-4 col-sm-4 col-md-4 col-xs-6"  >
            <div style="background-color: #C5A57D;color: white;text-align: center;">
              <h2>Solde compense BBS</h2>
            </div>
            <div style="background-color: white;color: #532611;text-align: center;height: 5rem;border-radius: 10px;">
              <h4 style="padding-top: 1rem ;"><span >{{currencyFormat(soldeCompenseBBS)}} </span><small>FCFA</small></h4>
            </div>
          </div>
         
        </div>
    </div>
    <div>
    <div class="col-12" style="background: #C5A57D;padding:10px;">
            <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
                <div class="input-group form-group row" style="padding:5px; margin-top: 1rem;background-color: #532611;">
                  <div class="input-group-prepend col-5"  style="background-color: #532611;padding: 0;margin: 0;">
                    <span class="input-group-text" style="border: none; background-color: #532611;color: white;font-size: 1rem;"><i class="fas fa-calendar" style="padding-top: 5px;background: white;color: #532611;width: 3rem; height: 3rem; font-size: 2rem;margin-right: 7px;"></i>Date debut</span>
                  </div>
                  <div class="col-7" style="padding: 0;margin: 0;">
                    <input  type="date" style="width: 100%;height: 100%;" placeholder="identifiant" [ngModelOptions]="{standalone: true}" [(ngModel)]="this.dd"  />
                  </div>
                 
                 </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4">               
                 <div class="input-group form-group row" style="padding:5px; margin-top: 1rem;background-color: #532611;">
                <div class="input-group-prepend col-5"  style="background-color: #532611;padding: 0;margin: 0;">
                  <span class="input-group-text" style="border: none; background-color: #532611;color: white;font-size: 1rem;"><i class="fas fa-calendar" style="padding-top: 5px;background: white;color: #532611;width: 3rem; height: 3rem; font-size: 2rem;margin-right: 7px;"></i>Date fin</span>
                </div>
                <div class="col-7" style="padding: 0;margin: 0;">
                  <input  type="date" style="width: 100%;height: 100%;" placeholder="identifiant" [ngModelOptions]="{standalone: true}" [(ngModel)]="this.df"  />
                </div>
               
               </div>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">               
                <div class="input-group form-group row" style="padding:5px; margin-top: 1rem;background-color: #532611;">

               <div class="col-12" style="padding: 0;margin: 0;text-align: center;">
                  <button class="btn" (click)="recherche()" style="height: 4rem;width: 100%; font-size: 2rem;background: #532611;color: white">Rechercher</button>
              </div>
              
              </div>
             </div>
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4">               
                <div class="input-group form-group row" style="padding:5px; margin-top: 1rem;background-color: #532611;">
                  <div class="input-group-prepend col-4"  style="background-color: #532611;padding: 0;margin: 0;">
                    <span class="input-group-text" style="border: none; background-color: #532611;color: white;font-size: 1.5rem;">Recherche </span>
                  </div>
               <div class="col-6" style="padding: 0;margin: 0;">
                 <input  type="text" style="width: 100%;height: 100%;border: none;" placeholder="Filtrer" [ngModelOptions]="{standalone: true}" (keyup) = "searchAll()" [(ngModel)]="this.motcle"  />
               </div>
               <div class="input-group-prepend col-2"  style="background-color: #532611;padding: 0;margin: 0;">
                <span class="input-group-text" style="border: none; background-color: white;color: white;font-size: 1rem;width: 100%;"><i class="fas fa-search" style="padding-top: 5px;background: white;color: #532611;width: 3rem; height: 3rem; font-size: 2rem;margin-right: 7px;"></i></span>
              </div>
              </div>
             </div>
            </div>
          </div>
        <div class="col-12" style="max-width: 100% !important;padding: 0;">
            <!--<ngx-table [configuration]="configuration"
                    [data]="data"
                    [columns]="columns"
                    style="overflow:auto"
                    style="max-width: 100% !important"
                    class="table-responsive">
            </ngx-table>-->
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr style="text-transform: uppercase;">

                    <th style="border: 1px solid white;color: white;">Date</th>
                    <th style="border: 1px solid white;color: white;">commande</th>
                    <th style="border: 1px solid white;color: white;">livreur</th>
                    <th style="border: 1px solid white;color: white;">client</th>
                    <th style="border: 1px solid white;color: white;">montant commande</th>
                    <th style="border: 1px solid white;color: white;">montant livraison</th>
                    <th style="border: 1px solid white;color: white;">mode paiement</th>
                    <th style="border: 1px solid white;color: white;">Etat paiement</th>
                    <th style="border: 1px solid white;color: white;">etat</th>
                    <th style="border: 1px solid white;color: white;">monnaie</th>
                    <th style="border: 1px solid white;color: white;">action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of this.dataToDisplay | paginate: { itemsPerPage: 10, currentPage: p }">
                    <td>{{displayDate(item.date)}}</td>
                    <td>
                      <div class="dropdown">
                        <span *ngIf="item.refCommande != ''">{{item.commande}}</span>
                        <span *ngIf="item.refCommande == ''">refCommande</span>
                        <div class="dropdown-content">
                        <p style="color: black;">{{displayPanier(item.panier)}}</p>
                        </div>
                      </div>
                    </td>
                    <td>
                      <p *ngIf="item.livreur != ''">{{displayData(item.livreur,'prenom')}} {{displayData(item.livreur,'nom')}}</p>
                      <p *ngIf="item.livreur == ''">pas de livreur</p>
                    </td>
                    <td>{{formateNumClient(item.client)}}</td>
                    <td style="text-align: center;">{{currencyFormat(item.montant)}}</td>
                    <td style="text-align: center;">{{currencyFormat(item.fraisLivraison)}}</td>
                    <td>{{item.paiement}} </td>
                    <td>{{item.etatPaiment}}</td>
                    <td >
                      <div *ngIf="item.etat==-1" class="p-3 mb-2 bg-danger text-white" style="text-align: center;">Annulée </div>
                      <div *ngIf="item.etat==1" class="p-3 mb-2 bg-secondary text-white" style="text-align: center;">Enregistrée </div>
                      <div *ngIf="item.etat==2" class="p-3 mb-2 bg-info text-white" style="text-align: center;">Validée </div>
                      <div *ngIf="item.etat==3" class="p-3 mb-2 bg-warning text-white" style="text-align: center;">Preparée </div>
                      <div *ngIf="item.etat==4" class="p-3 mb-2 bg-primary text-white" style="text-align: center;">En cour de livraison</div> 
                      <div *ngIf="item.etat==5 && item.paiement == 'sentoolpay' " class="p-3 mb-2 bg-success text-white" style="text-align: center;">livrée </div> 
                      <div *ngIf="item.etat==5 && item.paiement != 'sentoolpay'" class="p-3 mb-2 bg-success text-white" style="text-align: center;">Payée et Livrée </div> 
                    </td>
                    <td style="text-align: center;">{{currencyFormat(item.monnaiePrepa)}}</td>
                    <td>
                      <button type="button" *ngIf="item.etat==1" class="btn btn-warning" (click)="showMoodal();selected = item">Annuler </button>
                    </td>

                  </tr>
                </tbody>
              </table>

              <div class="list">
                <pagination-controls (pageChange)="p = $event" previousLabel="Précédent" nextLabel="Suivant"></pagination-controls>  
              </div>
            </div>
        </div>
       
    </div>
</nz-card>

<ng-template let-row let-rowIndex="rowIndex" let-column="column" #panier>
  <div class="dropdown">
    <span *ngIf="row.refCommande != ''">{{row.refCommande}}</span>
    <span *ngIf="row.refCommande == ''">refCommande</span>
    <div class="dropdown-content">
    <p style="color: black;">{{row.designation}}</p>
    </div>
  </div>
</ng-template>
<ng-template let-row let-rowIndex="rowIndex" let-column="column" #actionTpl>
  <button type="button" *ngIf="row.etat==1" class="btn btn-warning" (click)="showMoodal();selected = row">Annuler </button>
</ng-template>
<ng-template let-row let-rowIndex="rowIndex" let-column="column" #paiementTpl>
    <p *ngIf="row.mode_paiement==1" >en ligne </p>
    <p *ngIf="row.mode_paiement==0" >à la livraison </p>
</ng-template>
<ng-template let-row let-rowIndex="rowIndex" let-column="column" #recuperationTpl>
    <p *ngIf="row.recuperation==1" >sur place </p>
    <p *ngIf="row.recuperation==0" >à livrer</p>
</ng-template>


<ng-template let-row let-rowIndex="rowIndex" let-column="column" #etatTpl>

  <div *ngIf="row.etat==-1" class="p-3 mb-2 bg-danger text-white" style="text-align: center;">Annulée </div>
  <div *ngIf="row.etat==1" class="p-3 mb-2 bg-secondary text-white" style="text-align: center;">Enregistrée </div>
  <div *ngIf="row.etat==2" class="p-3 mb-2 bg-info text-white" style="text-align: center;">Validée </div>
  <div *ngIf="row.etat==3" class="p-3 mb-2 bg-warning text-white" style="text-align: center;">Preparée </div>
  <div *ngIf="row.etat==4" class="p-3 mb-2 bg-primary text-white" style="text-align: center;">En cour de livraison</div> 
  <div *ngIf="row.etat==5" class="p-3 mb-2 bg-success text-white" style="text-align: center;">Payée </div> 
</ng-template>
<ng-template let-row let-rowIndex="rowIndex" let-column="column" #livreur>
  <td>
    <p *ngIf="row.livreur != ''">{{displayData(row.livreur,'prenom')}} {{displayData(row.livreur,'nom')}}</p>
    <p *ngIf="row.livreur == ''"></p>
  </td>
</ng-template>
<ng-template let-row let-rowIndex="rowIndex" let-column="column" #monnaiePrepa>
  <td>
    {{monnairePrpa(row.montant,row.frais_livraison)}}
  </td>
</ng-template>

<div *ngIf="loading">
  <div style="position: absolute ; left: 15%; top:25%; min-width: 100rem ; min-height: 40rem ;text-align: -webkit-center; padding-top: 10%; z-index:1000; background-color: white; opacity: 0.4;">
  <div class="loader">
      <div class="ball-pulse">
      <div></div>
      <div></div>
      <div></div>
      </div>
  </div>  
  </div>
</div>
 
<div id="id01" class="w3-modal">
  <div class="w3-modal-content" style="border-radius: 5px;padding: 3rem;">
    <div class="w3-container">
      <span (click)="hideMoodal()" style="font-size: 2rem;" class="w3-button w3-display-topright">&times;</span>
      <div class="row" style="text-align: center;">
        
        <div class="col-12" style="text-align: center;">
          <h2>Vous voulez annulé cette commande</h2>
          <button class="btn btn-danger" style="margin-right: 5px;" (click)="hideMoodal()">Annuler</button>
          <button class="btn btn-success" style="margin-right: 5px;" (click)="cancelCommande();hideMoodal()">Valider</button>

        </div>
      </div>
    </div>
  </div>
</div>

<div id="id02" class="w3-modal">
  <div class="w3-modal-content alert alert-success" style="border-radius: 5px;padding: 3rem;">
    <div class="w3-container">
      <span (click)="hideMoodalNotif()" style="font-size: 2rem;" class="w3-button w3-display-topright">&times;</span>
      <div class="row" style="text-align: center;">
        
        <div class="col-12" style="text-align: center;">
          <h2 class="alert alert-success">Commande annulé</h2>
        </div>
      </div>
    </div>
  </div>
</div>
 