<div class="container SamaTheme4"  >
    <div class="d-flex justify-content-center h-100">
      <div class="card">
        <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
        <div class="card-header">
          <h3 *ngIf="!isFirstLog">S'identifier</h3>
          <h3 *ngIf="isFirstLog">Modification mot passe</h3>
          <div *ngIf="!isFirstLog" class="d-flex justify-content-end social_icon">
            <span><i class="fas fa-desktop"></i></span>
            <span><i class="fas fa-motorcycle" (click)="goToLivreur()"></i></span>
          </div>
        </div>
        <div class="card-body">
          <div style="text-align: center; width: 100%;font-size: 8rem;">
            <i *ngIf="!isFirstLog" class="fas fa-user-circle"></i>
            <i *ngIf="isFirstLog" class="fas fa-user-edit"></i>
          </div>
          <form *ngIf="!isFirstLog">
            <div class="input-group form-group">
              <div class="input-group-prepend" >
                <span class="input-group-text"><i class="fas fa-user"></i></span>
              </div>
              <input  type="text" class="form-control" placeholder="identifiant" [ngModelOptions]="{standalone: true}" [(ngModel)]="this.login"  (click)="loginError=null;"/>
             
            </div>
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-key"></i></span>
              </div>
              <input  type="password" class="form-control" placeholder="mot de passe" [ngModelOptions]="{standalone: true}" [(ngModel)]="this.password"  (click)="loginError=null;"/>
            </div>
            <div class="form-group">
              <small  class="form-text text-muted" *ngIf="this.loginError!=null"><span style="color: red;font-size: 1.5em;">{{this.loginError}}</span></small>
              <input type="submit" value="Connexion" [disabled]="!login || login =='' || !password || password == '' "  class="btn float-right login_btn" (click)="loger()" >
            </div>
          </form>
           <form *ngIf="isFirstLog">
            <div class="input-group form-group">
              <div class="input-group-prepend" >
                <span class="input-group-text"><i class="fas fa-key"></i></span>
              </div>
              <input type="password" class="form-control" placeholder="Mot de passe" [ngModelOptions]="{standalone: true}" [(ngModel)]="this.newpassword"  (ngModelChange)="testPass(this.newpassword);this.confirmpassword=null;"/>
              <div style="min-width:100%">
                  <small  class="form-text text-muted" *ngIf="this.passwordQuality==0" ><span [ngClass]="{'text-danger':true}"> mot de passe très faible</span></small>
                  <small  class="form-text text-muted" *ngIf="this.passwordQuality==1" ><span [ngClass]="{'text-warning':true}">mot de passe faible</span></small>
                  <small  class="form-text text-muted" *ngIf="this.passwordQuality==2" ><span [ngClass]="{'text-success':true}"> mot de passe fort</span></small> 
            </div>
            </div>
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-key"></i></span>
              </div>
              <input (click)="this.passError=null;this.confirmpassword=null" type="password" class="form-control" placeholder="Confirmer mot de passe" [ngModelOptions]="{standalone: true}" [(ngModel)]="this.confirmpassword" />
            </div>
            <div class="form-group">
              <br>
              <small  class="form-text text-muted" *ngIf="this.passError!=null;" ><span [ngClass]="{'text-danger':true}" style="font-size:1.3em">{{this.passError}}</span></small>
              <input type="submit" value="Valider" [disabled]="!newpassword || newpassword =='' || !confirmpassword || confirmpassword == '' "  class="btn float-right login_btn" (click)="firstLog()" >
            </div>
          </form>
        </div>
        <div class="card-footer">
          <div class="d-flex justify-content-center">
            <a href="#">Mot de passe oublié?</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #customLoadingTemplate>
    <div class="custom-class">
        <h3>
            Chargement en cour...
        </h3>
    </div>
  </ng-template>