<div class="container SamaTheme4"  >
    <div class="d-flex justify-content-center h-100">
      <div class="card">
        <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
        <div class="card-header">
          <h3 *ngIf="!isFirstLog">S'identifier</h3>
          <h3 *ngIf="isFirstLog">Modification mot passe</h3>
          <div *ngIf="!isFirstLog" class="d-flex justify-content-end social_icon">
            <span><i class="fas fa-desktop"></i></span>
            <span><i class="fas fa-motorcycle" (click)="goToLivreur()"></i></span>
          </div>
        </div>
        <div class="card-body">
          <div style="text-align: center; width: 100%;font-size: 8rem;">
            <i class="fas fa-user-circle"></i>
          </div>
          <form *ngIf="!isFirstLog">
            <div class="input-group form-group">
              <div class="input-group-prepend" >
                <span class="input-group-text"><i class="fas fa-user"></i></span>
              </div>
              <input type="text" class="form-control" placeholder="username" [ngModelOptions]="{standalone: true}" [(ngModel)]="this.login" />
              
            </div>
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-key"></i></span>
              </div>
              <input type="password" class="form-control" placeholder="password" [ngModelOptions]="{standalone: true}" [(ngModel)]="this.password" />
            </div>
            <div class="form-group">
              <input type="submit" value="Login" [disabled]="!login || login =='' || !password || password == '' "  class="btn float-right login_btn" (click)="loger()" >
            </div>
          </form>
           <form *ngIf="isFirstLog">
            <div class="input-group form-group">
              <div class="input-group-prepend" >
                <span class="input-group-text"><i class="fas fa-key"></i></span>
              </div>
              <input type="password" class="form-control" placeholder="Mot de passe" [ngModelOptions]="{standalone: true}" [(ngModel)]="this.newpassword" />
              
            </div>
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-key"></i></span>
              </div>
              <input type="password" class="form-control" placeholder="Confirmer mot de passe" [ngModelOptions]="{standalone: true}" [(ngModel)]="this.confirmpassword" />
            </div>
            <div class="form-group">
              <input type="submit" value="Valider" [disabled]="!newpassword || newpassword =='' || !confirmpassword || confirmpassword == '' "  class="btn float-right login_btn" (click)="firstLog()" >
            </div>
          </form>
        </div>
        <div class="card-footer">
          <div class="d-flex justify-content-center">
            <a href="#">Mot de passe oublié?</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #customLoadingTemplate>
    <div class="custom-class">
        <h3>
            Chargement en cour...
        </h3>
    </div>
  </ng-template>