<div class="container themDesign" >
    <div class="card-header" >
      <img src="./../../assets/images/entete_desktop.jpg" alt="" srcset="" style="max-width: 100%;min-width: 100%; height: 20vh;">
    </div>
    <div style="width: 100% !important">

      <div class="card" style="width: 100% !important;">
        <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
        <!-- <div class="card-header">
          <h3 *ngIf="!isFirstLog">S'identifier</h3>
          <h3 *ngIf="isFirstLog">Modification mot passe</h3>
        </div> -->
        <div class="card-body" style="padding-top: 5rem;">
          <div class="row">
            <div class="col-lg-3 col-md-2 col-sm-0 col-xs-0">

            </div>
            <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12">
              <h3><span style="color: white; font-weight: normal;background-color: #532611; font-size: 1.5em; padding: 0.5rem;padding-left: 4rem;padding-right: 4rem; border-radius: 2rem;  width: 60%;"><b> Identification</b></span></h3>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-1 col-xs-12">

            </div>
            <div class="col-lg-8 col-md-8 col-sm-10">
              <fieldset class="scheduler-border" style="border-bottom:none !important ;border-right:none !important ;border-left:none !important ; width: 50%; margin-left: 25%;">
                <legend class="scheduler-border"> <i  style="color: white;" class="fas fa-user"></i> </legend>
                <div class="control-group">
                  <form *ngIf="!isFirstLog" style="margin-top: 0%;">
            
                    <div class="input-group form-group" style="border: 1px solid white;">
                      <div class="input-group-prepend" >
                        <span class="input-group-text" style="background-color: #c5A57d !important;"><i class="fas fa-user"  style="color: white; font-size: 1.8em;"></i></span>
                      </div>
                      <input   style="border: none;"  type="text" class="form-control" placeholder="identifiant" [ngModelOptions]="{standalone: true}" [(ngModel)]="this.login"  (click)="loginError=null;"/>
                    </div>
                    <div class="input-group form-group"  style="border: 1px solid white; margin-top: 2rem;">
                      <div class="input-group-prepend">
                        <span class="input-group-text" style="background-color: #c5A57d !important;"><i class="fas fa-key" style="color: white; font-size: 1.8em;"></i></span>
                      </div>
                      <input  style="border: none;" type="password" class="form-control" placeholder="mot de passe" [ngModelOptions]="{standalone: true}" [(ngModel)]="this.password"  (click)="loginError=null;"/>
                    </div>
                    <div class="form-group" style="margin-top: 5%;" >
                      <small  class="form-text text-muted" *ngIf="this.loginError!=null"><span style="color: red;font-size: 1.5em;">{{this.loginError}}</span></small>
                      <input   style="background-color: #532611;color:white;width: 100%; font-size: 2em; " type="submit" value="Connexion" [disabled]="!login || login =='' || !password || password == '' "  class="btn float-right login_btn" (click)="loger()" >
                    </div>
      
                </form>

                <form *ngIf="isFirstLog">
                  <div class="input-group form-group">
                    <div class="input-group-prepend" >
                      <span class="input-group-text"><i class="fas fa-key"></i></span>
                    </div>
                    <input type="password" class="form-control" placeholder="Mot de passe" [ngModelOptions]="{standalone: true}" [(ngModel)]="this.newpassword"  (ngModelChange)="testPass(this.newpassword);this.confirmpassword=null;"/>
                    <div style="min-width:100%">
                        <small  class="form-text text-muted" *ngIf="this.passwordQuality==0" ><span [ngClass]="{'text-danger':true}"> mot de passe très faible</span></small>
                        <small  class="form-text text-muted" *ngIf="this.passwordQuality==1" ><span [ngClass]="{'text-warning':true}">mot de passe faible</span></small>
                        <small  class="form-text text-muted" *ngIf="this.passwordQuality==2" ><span [ngClass]="{'text-success':true}"> mot de passe fort</span></small> 
                  </div>
                  </div>
                  <div class="input-group form-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-key"></i></span>
                    </div>
                    <input (click)="this.passError=null;this.confirmpassword=null" type="password" class="form-control" placeholder="Confirmer mot de passe" [ngModelOptions]="{standalone: true}" [(ngModel)]="this.confirmpassword" />
                  </div>
                  <div class="form-group">
                    <br>
                    <small  class="form-text text-muted" *ngIf="this.passError!=null;" ><span [ngClass]="{'text-danger':true}" style="font-size:1.3em">{{this.passError}}</span></small>
                    <input type="submit" value="Valider" [disabled]="!newpassword || newpassword =='' || !confirmpassword || confirmpassword == '' "  class="btn float-right login_btn" (click)="firstLog()" >
                  </div>
                </form>
                </div>
             </fieldset>
            </div>
          </div>
        </div>
        <div class="card-footer" style="background-color: transparent; border: none;">
          <div class="d-flex justify-content-center">
            <a href="#">Mot de passe oublié?</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #customLoadingTemplate>
    <div class="custom-class">
        <h3>
            Chargement en cour...
        </h3>
    </div>
  </ng-template>