nz-progress {
    margin-right: 8px;
    margin-bottom: 8px;
    display: inline-block;
  }

.totalVente{
    text-align: center;
    padding-top: 5%;
    color: cadetblue;
    font-size: xxx-large;
}
