<div class="container SamaTheme4" *ngIf="this.isLogin==0" >
  <div class="d-flex justify-content-center h-100">
    <div class="card">
      <div class="card-header">
        <h3>S'identifier</h3>
        <div class="d-flex justify-content-end social_icon">
          <span><i class="fas fa-desktop"></i></span>
          <span><i class="fas fa-motorcycle" (click)="goToLivreur()"></i></span>
        </div>
      </div>
      <div class="card-body">
        <div style="text-align: center; width: 100%;font-size: 8rem;">
          <i class="fas fa-user-circle"></i>
        </div>
        <form>
          <div class="input-group form-group">
            <div class="input-group-prepend" >
              <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            <input type="text" class="form-control" placeholder="username" [ngModelOptions]="{standalone: true}" [(ngModel)]="this.login" />
            
          </div>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-key"></i></span>
            </div>
            <input type="password" class="form-control" placeholder="password" [ngModelOptions]="{standalone: true}" [(ngModel)]="this.password" />
          </div>
          <div class="form-group">
            <input type="submit" value="Login" class="btn float-right login_btn" (click)="loger()" >
          </div>
        </form>
      </div>
      <div class="card-footer">
        <div class="d-flex justify-content-center">
          <a href="#">Mot de passe oublié?</a>
        </div>
      </div>
    </div>
  </div>
</div>
        
<nz-layout class="layout" *ngIf="this.isLogin==1">
  <nz-sider class="SamaTheme4"  nzCollapsible nzBreakpoint="lg" [nzCollapsedWidth]="0" *ngIf="isLivreur==0">
    <div class="logo" style="height: 54px;text-align: center;color: white;padding-top: 5px;float: none;">
      <img  style="width: 46%;float: none;"  src="../assets/images/logo-grainedor.png" alt="" srcset="">
    </div>
    <ul nz-menu style="background: transparent" nzMode="inline">
      <li nz-menu-item *ngFor='let item of this.menu'>
        <i nz-icon nzType="user"></i>
        <span><a style="color: white;" class="button" routerLink="{{item.path}}" routerLinkActive="activebutton">{{item.titre}}</a></span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="row">
        <div class="col-lg-8">

        </div>
        <div class="col-lg-4">
          <button (click)="logout()" style="float: right; margin-right: 1rem;    margin-bottom: 0;padding: 0;margin-top: 1.5rem;" nz-button nzType="primary"  nzShape="circle"><fa-icon [icon]="faCoffee"></fa-icon></button>
        </div>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content" style="width: 100% !important; padding: 0 !important;margin: 0 !important;">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer>Copy right ©2021 Implémenter par BBSTech</nz-footer>
  </nz-layout>
</nz-layout>

