.inner-content {
    min-width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
}

.ngx-table th{
    padding: 12px 6px;
    border-bottom: 2px solid #e7e9ed;
    font-size: 0.7em;
}