/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */


.ant-layout {
    display: flex;
    flex: auto;
    flex-direction: column;
    min-height: 0;
    background: #C5A57D !important;
}