
        
<nz-layout class="layout" >
  <nz-sider class="SamaTheme"  nzCollapsible nzBreakpoint="lg" [nzCollapsedWidth]="0" >
    <div class="logo" style="height: 54px;text-align: center;color: white;padding-top: 5px;float: none;">
      <img  style="width: 46%;float: none;"  src="../assets/images/logo-grainedor.png" alt="" srcset="">
    </div>
    <ul nz-menu style="background: transparent" nzMode="inline">
      <li nz-menu-item *ngFor='let item of this.menu'>
        <i nz-icon nzType="user"></i>
        <span><a style="color: white;" class="button" routerLink="{{item.path}}" routerLinkActive="activebutton">{{item.titre}}</a></span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="row">
        <div class="col-lg-8">

        </div>
        <div class="col-lg-4">
          <button (click)="logout()" style="float: right; margin-right: 1rem;    margin-bottom: 0;padding: 0;margin-top: 1.5rem;" nz-button nzType="primary"  nzShape="circle"><fa-icon [icon]="faCoffee"></fa-icon></button>
        </div>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content" style="width: 100% !important; padding: 0 !important;margin: 0 !important;">
        <router-outlet></router-outlet>
     </div> 
    </nz-content>
    <nz-footer>Copy right ©2021 Implémenter par BBSTech</nz-footer>
  </nz-layout>
</nz-layout>

