.layout {
    min-height: 100vh;
  }

  .logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
  }

  nz-header {
    background: #fff;
    padding: 0;
  }

  nz-content {
    margin: 24px 16px 0;
  }

  .inner-content {
    padding: 24px;
    background: #fff;
    min-height: 360px;
  }

  nz-footer {
    text-align: center;
  }

  .SamaTheme {
    background: #00f2c3;
    background-image: -webkit-gradient(linear, right top, left bottom, from(#00f2c3), color-stop(#0098f0), to(#00f2c3));
    background-image: linear-gradient(to bottom left, #00f2c3, #0098f0, #00f2c3);
    background-size: 210% 210%;
    background-position: top right;
    background-color: #00f2c3;
    -webkit-transition: all 0.15s ease;
    transition: all 0.15s ease;
    box-shadow: none;
    color: #ffffff;
}

.SamaTheme4 {
  background: #00f2c3;
  background-image: -webkit-gradient(linear, right top, left bottom, from(#B9593C), color-stop(#D28A74), to(#E6BEB2));
  background-image: linear-gradient(to bottom left, #B9593C, #D28A74, #E6BEB2);
  background-size: 210% 210%;
  background-position: top right;
  background-color: #00f2c3;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
  box-shadow: none;
  color: #ffffff;
}

.SamaTheme2 {
  background: #00f2c3;
  background-image: -webkit-gradient(linear, right top, left bottom, from(#7530a6), color-stop(#333295), to(#333295));
  background-image: linear-gradient(to bottom left, #7530a6, #333295, #333295);
  background-size: 210% 210%;
  background-position: top right;
  background-color: #00f2c3;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
  box-shadow: none;
  color: #ffffff;
}

.SamaTheme3  {
    color: #fff;
    background: linear-gradient(90deg,#7530a6,#333295);
}
